<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncEnumerator" version="2.1.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="ESFA.DC.Logging" version="2018.1.29.10" targetFramework="net461" />
  <package id="Mailcloud.Hydra.Core" version="1.0.2.217" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric" version="6.1.456" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="3.0.456" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="3.0.456" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="3.0.456" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="3.0.456" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="3.0.456" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services.Wcf" version="3.0.456" targetFramework="net461" />
  <package id="murmurhash" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
  <package id="Serilog.Sinks.MSSqlServer" version="5.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="4.1.7" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="1.6" targetFramework="net461" />
</packages>